appdirs==1.4.3
backports.ssl-match-hostname==3.5.0.1
Django==1.10.6
django-debug-toolbar==1.7
django-grappelli==2.9.1
django-piston==0.2.3
django-slack==5.8.0
django-tables2==1.4.2
jedi==0.10.0
json-rpc==1.10.3
packaging==16.8
pkg-resources==0.0.0
pyparsing==2.2.0
requests==2.13.0
service-factory==0.1.5
six==1.10.0
slackclient==1.0.5
sqlparse==0.2.3
websocket-client==0.40.0
