{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}

<section id='banner' class='wow fadeInUp'>
     <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6">
                <div class="block">
					<p>{% trans "Enter your new password below to reset your password:" %}</p>
					<form method="post" action="">
					    {% csrf_token %}
					    {{ form|crispy }}
					    <input type="submit" value="{% trans 'Set password' %}" />
					</form>
                </div>
            </div>
        </div>
    </div>  
</section>


{% endblock %}


{# This is used by django.contrib.auth #}