{% extends "base.html" %}
{% block section_1 %}
    <section id="banner" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 col-sm-6">
                    <div class="block">
                        <h1>
                            Welcome Lime Bank !
                        </h1>
                        <p>
                            这是一个神奇的银行，带给你无限的期待！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock%}